body
{
background-color: #343a40;
}
body.sehrim
{
  color: white;
  background-image: url('kaysi.jpg');
  background-blend-mode: soft-light;
  font-size: 1vw;
}

button.navbar-toggler:active
{
opacity: 30%;
}
img.logo
{
  border-radius: 50%;
}
img.logo:hover {

  opacity: 70%;
}

div.dropdown-menu
{
  background-color: #343a40;
}
div a.dropdown-item
{
color:#007bff;
}
div a.dropdown-item:hover
{
  color:#0056b3;
  background-color: #343a40;
}
.facebook
{
  background-color: white;
}
span.navbar-toggler-icon:active
{
  color:#0056b3;
  background-color: #343a40;
}
h1
{
  padding: 10px;
  text-align: center;
}
footer
{
  background-color: #343a40;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0px;
}
p
{
  background-size:auto;
  margin: 15px;
  padding: 15px;
  text-align: center;
}
button.start-button
{
    border: 0px solid white;
    background-color: rgba(0, 0, 0, 0);
}
button.start-button:active
{
    border: 0px solid white;
    background-color: rgba(0, 0, 0, 0);
}
button.start-button:hover
{
    border: 0px solid white;
    background-color: rgba(0, 0, 0, 0);
}
button.start-button:selected
{
    border: 0px solid white;
    background-color: white;
}
button img
{

}
button:hover {

  opacity: 70%;
}
video
{
  float: right;
  opacity: 100%;
  pointer-events: none;
}
}
p.sehir
{
  color: white;
  margin: 50px;
  padding: 1200px;
}
h1,h2
{
  text-align: center;
  background-size: cover;
  font-size:3vw;
  color: white;
}
h1.sehir
{
  color: white;
  text-align: center;
}
div.sehir
{
  color: white;
  margin-top: 25px;
  margin-bottom: 100px; /*Dışardan 100px yukarı doğru kayar*/
margin-right: 500px; /*Dışardan 100px sağa doğru kayar*/
margin-left: 500px;
  float: left;
}
.ortala {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}


.container {
    width: 100%;
    height: auto;
  position: relative;
  text-align: center;
  color: white;
  background-size: cover;
}
.centered {
  width: 90%;
  height: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
}
.ustune
{
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  background-size: cover;
  font-size:2vw;
}
.anasayfa
{
  background-image: url('background.jpg');
}
.beyaz
{
  color: white;
}
.muzik
{
  position: fixed;
  bottom: 10px;
  left: 10px;
}
.linkler
{
      bottom:0px;
      right: 55px;
}
.uzerinde
{
  position:fixed;
  bottom: 150px;
  border: 0px solid white;
  background-color: rgba(0, 0, 0, 0);
}
.linklerim
{
  font-size: 3vw;
  text-decoration: none;
  color:white;
  background-color: rgba(0, 0, 0, 0.8);
  list-style: none;
}
.item
{
   transition: all 0.5s ease-in-out;
}
html{
  scroll-behavior: smooth;
}
.gizle
{
  color: white;
  opacity: 70%;
}
.goster
{
  background-color: orange;
  color: white;
  text-align: center;
  font-size: 5vw;
  height:inherit;
  width: 100%;
}
.normal
{
  color: white;
  opacity: 100%
}


.start1-button
{
  position: fixed;
  bottom: 0px;
  right: 70px;
  border: 0px solid white;
  background-color: rgba(0, 0, 0, 0);
}
.start2-button
{
  position: fixed;
  bottom: 0px;
  right: 35px;
  border: 0px solid white;
  background-color: rgba(0, 0, 0, 0);
}
.start3-button
{
  position: fixed;
  bottom: 0px;
  right: 0px;
  border: 0px solid white;
  background-color: rgba(0, 0, 0, 0);
}
.yazilar
{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  font-size: 3vw;
}
.container
{
  width: 100%;
  padding: 0px;
}
.girizgah
{
  font-size: 7vw;
  color: orange;
}
